.board-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
}

.board {
	display: grid;
	width: var(--board-dimension);
	height: var(--board-dimension);
	border: 2px solid var(--board-border);
}
